*.pyc
.coverage
htmlcov/
.DS_Store
dist/
.ipynb_checkpoints
**/.ipynb_checkpoints
.idea
extra_data/
.venv
.myenv
.docs_venv
docs/_build
.dev
vote2
.envrc
.mypy_cache
.ruff_cache
dev_files
__pycache__
TODO.md

tests/data/csv/test_csv_pp_mixed_no_voter_set.csv
tests/data/csv/test_csv_pp_mixed.csv
tests/data/csv/test_csv_pp_rankings.csv
tests/data/pickle
tests/pref_profile/data/pickle
tests/pref_profile/data/rank_profile/test_csv_pp_rankings.csv