*.pyc
poetry.lock
.coverage
htmlcov/
.DS_Store
dist/
.ipynb_checkpoints
.idea
extra_data/
.venv
.docs_venv
docs/_build
.dev

# Latex aux files

*.aux
*.bbl
*.blg
*.bcf
*.fb_latexmk
*.log
*.out
*.files
*.run.xml
*.synctex*