*.pyc
poetry.lock
.coverage
htmlcov/
.DS_Store
dist/
.ipynb_checkpoints
**/.ipynb_checkpoints
.idea
extra_data/
.venv
.myenv
.docs_venv
docs/_build
.dev
vote2
.envrc
dev_files
__pycache__

tests/data/csv/test_csv_pp_mixed_no_voter_set.csv
tests/data/csv/test_csv_pp_mixed.csv
tests/data/csv/test_csv_pp_rankings.csv
tests/data/pickle
